body{
    background-color: #FFFCE8;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.mainContainer{
    background-color: #ebfeed;
    border-radius: 5px;
    margin: 5%;
    width: auto;
    height: auto;
    border: 15px solid #31572cb3;
    padding: 15px;
}

h1{
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}

.inputDiv{
    border: 5px solid #31572C;
    border-radius: 5px;
    padding: 15px;
    padding-top: 5px;
}

h4{
    margin-top: 3px;
    margin-bottom: 5px;
}

.taskInputDiv{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.addTaskButton{
    float: right;
}

.priorityKeyDiv{
    margin: 15px;
    border: 5px solid #31572C;
    padding: 5px;
}

table{
    border: 3px solid #31572C;
    border-collapse: collapse;
}

th{
    border: 3px solid #31572C;
    border-collapse: collapse;
}

td{
    border: 3px solid #31572C;
    border-collapse: collapse;
}