body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.mainContainer{
    background-color: #f9f7cb7a;
    border-radius: 5px;
    margin: 5%;
    width: auto;
    height: auto;
    border: 15px solid #214E34;
    padding: 15px;
}

h1{
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}

.inputDiv{
    border: 5px solid #214E34;
    border-radius: 5px;
    padding: 15px;
    padding-top: 5px;
}

h4{
    margin-top: 3px;
    margin-bottom: 5px;
}

.taskInputDiv{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}


.priorityKeyDiv{
    margin: 15px;
    border: 5px solid #214E34;
    padding: 5px;
}

table{
    border: 3px solid #214E34;
    border-collapse: collapse;
}

th{
    border: 3px solid #214E34;
    border-collapse: collapse;
}

td{
    border: 3px solid #214E34;
    border-collapse: collapse;
}

.priorityLevel1{
    background-color: #7b0829c3;
    text-align: center;
}

.priorityLevel2{
    background-color: #ffbb007c;
    text-align: center;
}

.priorityLevel3{
    background-color: #79B473;
    text-align: center;
}

.priorityLevel4{
    background-color: #A0A4B8;
    text-align: center;
}