body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #364958;
}

.mainContainer{
    background-color: #FEFCFD;
    border-radius: 5px;
    margin: 5%;
    width: auto;
    height: auto;
    border: 15px solid #56A3A6;
    padding: 15px;
}

h1{
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}

.inputDiv{
    border: 5px solid #364958;
    border-radius: 5px;
    padding: 15px;
    padding-top: 5px;
}

h4{
    margin-top: 3px;
    margin-bottom: 5px;
}

.taskInputDiv{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}


.priorityKeyDiv{
    margin: 15px;
    border: 5px solid #364958;
    padding: 5px;
}

table{
    border: 3px solid #364958;
    border-collapse: collapse;
}

th{
    border: 3px solid #364958;
    border-collapse: collapse;
}

td{
    border: 3px solid #364958;
    border-collapse: collapse;
}

.priorityLevel1{
    background-color: #CA054D;
    text-align: center;
}

.priorityLevel2{
    background-color: #FFD400;
    text-align: center;
}

.priorityLevel3{
    background-color: #63C132;
    text-align: center;
}

.priorityLevel4{
    background-color: #A0A4B8;
    text-align: center;
}